

/* Body Styling with Border Color */
body {
     background-image: linear-gradient(to right, rgba(11, 67, 79), rgba(20,124,146),  rgba(0,196,204 ),rgba(107,213,227) );
     font-family: 'Roboto', sans-serif;
    padding: 10px;
    font-size: 16px;
}



/* Shooketh to the Core */
header h1 {
    text-align: center;
    font-family: 'Vollkorn', serif;
    background-color: #08304B;
    color: white;
    border: 10px solid rgb(225,173,17);
}



/* 5 Most Recent Rumbles */
h2 {
    text-align: center;
    font-size: x-large;
    vertical-align: text-top;
    font-weight: bold;
}

/* Did You Feel That? */
h3 {
    text-transform: uppercase;
    text-align: center;
    box-shadow: lightgrey;
    font-size: large;
    padding: 1rem;
    vertical-align: text-top;
    font-weight: bold;
    border-bottom: dotted black;
    margin: 1rem 0 1rem 0;

}

/* Learn more about earthquakes that happened ANYWHERE! */
h4 {
    text-align: center;
    margin: 1rem 0 1rem 0;
    font-size: large;
}

/* Search Query Criteria */
p {
    margin-bottom: 2px;
}

/* Search Query for Date */
em {
    font-size: medium;
}

/* Most Recent Rumbles Styling*/
.lastFive {
    text-align: center;
    font-size: 1rem;
    text-shadow: 2px 2px 7px lightgrey;
    margin-bottom: 5px;
    background-color:  whitesmoke;
    border: 10px solid rgb(225,173,17);
    height: 400 px;


}

/* Query Instructions styling */
.queryInstructions {
    font-size: medium;
}

/* button styling*/
.button {
    position: relative;
    background-color: #b3c0b4;
    border: none;
    font-size: 1rem;
    color: rgb(242, 254, 254);
    padding: 1px;
    width: 100px;
    height: 40px;
    text-align: center;
    transition-duration: 0.4s;
    text-decoration: none;
    overflow: hidden;
    cursor: pointer;
}

.button:after {
    content: '';
    background: #f1f1f1;
    display: block;
    position: absolute;
    padding-top: 300%;
    padding-left: 350%;
    margin-left: -20px !important;
    margin-top: -120%;
    opacity: 0;
    transition: all 0.8s
}

.button:active:after {
    padding: 0;
    margin: 0;
    opacity: 1;
    transition: 0s
}

.quakeQuery {
    text-align: center;
    padding: 20px;
    font-size: 1rem;
    background-color: whitesmoke;
    box-sizing: border-box;
    border: 10px solid rgb(225,173,17);
    height: 574px;
    width: 50%;
    margin: 0 0 0.75rem 0;
}

/* Search Results*/
.quakeResults {
    text-align: center;
    padding: 20px;
    font-size: 1rem;
    background-color: whitesmoke;
    box-sizing: border-box;
    border: 10px solid rgb(225,173,17);
    height: auto;
    width: 100%;
    margin: 0 0 0.75rem 0;
}

/* Most Recent Rumbles */
.latest {
    font-size: 15px;
    text-align: center;
    padding-bottom: 5px;
}

/* Search, Start Over Button Spacing */
.row {
    grid-column-gap: 1em;
    grid-row-gap: 20px;
}

/* Results from Google Map API */
#map {
    height: 574px;
    border: 10px solid rgb(225,173,17);
    width: 100%;
}

/* Footer */
footer {
    border: solid #7DF9FF;
    color: black;
    background-color: whitesmoke;
    text-align: center;
    height: 50px;
    padding: 20px;
}

/* Return Result Styling */
.dataLabel {
    font-weight: bold;
    text-decoration: underline;
}
@media only screen and (max-width: 600px) {
    header h1 {
      font-size: xx-large;
    }
  }
